@model MailVM
@{
    ViewData["Title"] = "SendMail";
}

<div class="block-header">
    <h2>Send Mails</h2>

</div>
<br /> <br />
<h3 class="text-danger">@TempData["Msg"]</h3>

<form class="form-group" asp-controller="Mail" asp-action="SendMail">

    <label asp-for="Email">Email</label>
    <input type="email" asp-for="Email" class="form-control" placeholder="Email" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />

    <label asp-for="Message">Message</label>
    <textarea rows="4" class="form-control" asp-for="Message" placeholder="body"></textarea>
    <span asp-validation-for="Message" class="text-danger"></span>
    <br />

    <center>
        <input type="submit" value="Send" class="btn btn-primary" />
        <input type="reset" value="Cancle" class="btn btn-warning" />
    </center>



</form>

