@model EmployeeVM
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/LayOut/Mylayout.cshtml";
}

<div class="block-header">
    <h2>Update : @Model.Name</h2>

</div>
<form asp-controller="Employee" asp-action="Create" class="form-group">

    <input type="hidden" asp-for="Id"/>
    @{
        await Html.RenderPartialAsync("~/Views/Partials/Employee/CreateDetails.cshtml");
    }

  
    <centr>
        <input type="submit" value="save" class="btn btn-primary" />
        <input type="reset" value="Cancel" class="btn btn-danger" />

    </centr>

</form>
